<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Device List</h1>
  <!-- It won't show if there is no Device data -->
  <a routerLink="/add-device" class="btn btn-success" *ngIf="hideWhenNoDevice">
    <i class="fas fa-plus custom-fa-plus"></i>
    AddDevice
  </a>
</div>

<div class="pricing-header mx-auto">

  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No Device">
  </div>

  <!-- No data shows when their is no device data available -->
  <div class="no-data text-center" *ngIf="noData">
    <p class="nodata-msg">No Device added yet!</p>
    <a routerLink="/add-device" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Device
    </a>
  </div>

  <!-- Showing Device data -->
  <div class="container">
    
  
  <div class="table-responsive" *ngIf="hideWhenNoDevice">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Device ID</th>
          <th scope="col">Device name</th>
          <th scope="col">Device Type</th>
          <th scope="col">Device Avalability</th>
          <th scope="col">Device Count</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Device array and fetch the Device's data -->
        <tr *ngFor="let device of Device; let i = index;">
          <th scope="row">{{device.$key}}</th>
          <td>{{device.deviceName}}</td>
          <td>{{device.deviceType}}</td>
          <td>{{device.availability}}</td>
          <td>{{device.count}}</td>
          <td class="text-center action-block">
            <!-- routerLink="/edit-student/{{Device.$key}}" is refered to { path: 'edit-Device/:id', component: EditDeviceComponent } in app-routing.moudles.ts -->
           <i class="far fa-edit" routerLink="/edit-device/{{device.$key}}"></i>
            <i class="far fa-trash-alt" (click)="deleteDevice(device)"></i></td>
        </tr>   
      </tbody>
    </table>
  </div>
</div>
</div>