<div class="table_container" style="height: 100%; width: 100%; display: block;position: absolute;overflow: hidden;">
  <div class="table-responsive" style="min-height:100%;">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Value1</th>
                              <th>Value2</th>
                              <th>Value3</th>
                              <th>Value4</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>
                                      </ul>
                                  </div>
                              </td>
  
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>
                                      </ul>
                                  </div>
                              </td>
                              <td>DATA</td>
                          </tr>
                          <tr>
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>                                    </ul>
                                  </div>
                              </td>
  
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>
                                      </ul>
                                  </div>
                              </td>
                              <td>
                                  DATA
                                  <div class="btn-group btn-group-rounded">
                                      <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:3px;">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">One</a></li>
                                          <li><a href="#">Two</a></li>
                                          <li><a href="#">Three</a></li>
                                          <li role="seperator" class="divider"></li>
                                          <li><a href="#">Four</a></li>
                                      </ul>
                                  </div>
                              </td>
                              <td>DATA</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
  </div>