<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Device
      </th>
      <th>
        Security
      </th>
      <th>
        Shift
      </th>
      <th>
        Start date
      </th>
      <th>
        End date
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody data-provides="rowlink">
    <tr class="rowlink">
      <td>
        <div class="dropdown">

          <select class="custom-select" style="width:200px;" searchable="Search here..">
            <option value="" disabled selected>Select-Device</option>
            <option value="1">Device 1</option>
            <option value="2">Device 2</option>
            <option value="3">Device 3</option>

          </select>
        </div>

      </td>
      <td>
        <div class="dropdown">

          <select class="custom-select" style="width:200px;" searchable="Search here..">
            <option value="" disabled selected>Select-Security</option>
            <option value="1">Security 1</option>
            <option value="2">Security 2</option>
            <option value="3">Security 3</option>

          </select>
        </div>
      </td>
      <td>
        <div class="dropdown">

          <select class="custom-select" style="width:200px;" searchable="Search here..">
            <option value="" disabled selected>Select-Shift</option>
            <option value="1">Shift 1</option>
            <option value="2">Shift 2</option>
            <option value="2">Shift 3</option>

          </select>
        </div>
      </td>
      <td><input class="input-group date" type="date"></td>
      <td><input class="input-group date" type="date"></td>
      <td><button class="btn btn-success">Update</button></td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>​





<!-- <select class="mdb-select md-form" searchable="Search here..">
  <option value="" disabled selected>Choose your country</option>
  <option value="1">USA</option>
  <option value="2">Germany</option>
  <option value="3">France</option>
  <option value="3">Poland</option>
  <option value="3">Japan</option>
</select>
<label>Label example</label> -->