<div class="topnav" id="myTopnav">
  <a routerLink="home">Home</a>
  <a routerLink="admin">Add Admins</a>
    <a data-toggle="dropdown" class="dropdown-toggle">Devices<b class="caret"></b></a>
    <ul class="dropdown-menu multi-level">
      <li><a routerLink="device-list">Device LIst</a></li>
      <li><a routerLink="add-device">Add Device</a></li>
    </ul>
  <a routerLink="addsecurity">Add Securities</a>
  <a routerLink="assignshift">Assign Shift</a>
  <a href="javascript:void(0);" class="icon">
    <i class="fa fa-bars"></i>
  </a>
  <div class="right-text">
    <a>My Account</a>
  </div>
</div>