<div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Security</h1>
</div>
    
    <!-- Device form -->
    <form [formGroup]="securityForm" (ngSubmit)="submitSecurityData()" >
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
    
                <div class="form-group">
                    <label>Security name</label>
                    <input type="text" formControlName="securityName" class="form-control" required>
                </div>
    
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control">
                </div>
                <div class="form-group">
                    <label>Count</label>
                    <input type="text" formControlName="count" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Availability</label>
                    <input type="text" formControlName="availability" class="form-control" required>
                </div>
                <div class="form-group">
                        <button type="reset" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
                        <button type="submit" class="btn btn-success float-right">Add Security</button>
                </div>
            </div>    
        <div class="col-sm-4"></div>
    </div>
    </form><!-- Device form ends-->