<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Device</h1>
</div>

<!-- Device form -->
<form [formGroup]="deviceForm" (ngSubmit)="submitDeviceData()" novalidate>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="form-group">
                <label>Device name</label>
                <input type="text" formControlName="deviceName" class="form-control" required>
            </div>

            <div class="form-group">
                    <div class="dropdown">
                        <label>Device Type</label>
                        <select class="custom-select" formControlName="deviceType">
                                <option value="" disabled selected>Select-Type</option>
                            <option value="app">App</option>
                            <option value="device">Device</option>
                        </select>
                    </div>
            </div>


            <div class="form-group">
                <label>Count</label>
                <input type="number" formControlName="count" class="form-control" required>
            </div>

            <div class="form-group">
                <div class="dropdown">
                    <label>Availability</label>
                    <select class="custom-select" formControlName="availability">
                            <option value="" disabled selected>Select-Availability</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>

           

            <div class="form-group">
                    <button type="reset" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
                    <button type="submit" class="btn btn-success float-right" [disabled]="deviceForm.invalid">Add Device</button>
            </div>
        </div>    
    <div class="col-sm-4"></div>
</div>
</form><!-- Device form ends-->